* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;}
    ul {
        list-style: none;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
      /* Small */
    @media (min-width: 768px) {
        .container {
        width: 750px;
        }
    }
      /* Medium */
    @media (min-width: 992px) {
        .container {
        width: 970px;
        }
    }
      /* Large */
    @media (min-width: 1200px) {
        .container {
        width: 1170px;
        }
    }
      /* End Global Rules */
    header{
        background-image: url(../imges/cover.jpg);
        background-size: cover;
        height: 100vh;
        position: relative;
    }
    header .home{
        width: 370px;
    height:  368px;
    background-color: #7a7a7a4f;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    right: 127px;
    border-radius: 9px;
    box-shadow: 9px 7px #fffefe3d;
}
header .home .container{
    position: relative;
}
header .home .container .me{
    position: relative;
}
header .home .container .me img{
    width: 111px;
    height: 110px;
    border-radius: 90px;
    position: absolute;
    top: -203px;
    left: 119px;
}
header .home .container .text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -57px;
    font-weight: 900;
    font-size: 23px;
    flex-direction: column;
}
header .home .container .text h3{
    font-size: 17px;
    font-family: cursive;
    color: white;
    font-size: 24px;
}
header .home .container .text h3 span{
    color: #9487ff;
}
header .home .container .text p{
    margin-top: 13px;
    color: white;
    font-size: 14px;
}
header .home .container .text hr{
    border: none;
    height: 1px;
    width: 78%;
    background: url(../imges/hr1.png) no-repeat center center;
    margin-top: 16px;
    margin-bottom: 10px;
}
header .home .container .text .resume{
    display: flex;
padding: 9px 0 0 24px;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: center;
}
header .home .icons{
    left: 128px;
    position: absolute;
    top: 77%;
}
header .home .icons ul{
    display: flex;
}
header .home .icons ul li{
    margin-right: 14px;
}

header .home .icons ul li i{
    font-size: 32px;
    color: beige;
    transition: .3s;
}
header .home .icons hr{
    border: none;
height: 1px;
width: 93%;
background: url(../imges/hr1.png) no-repeat center center;
margin-top: 16px;
margin-bottom: 10px;
}

header .home .icons ul li i:hover{
    font-size: 40px;
}

@media (min-width: 390px)and (max-width:625px) {
    header .home{
        right: 14px;
    }

}
@media (min-width: 375px)and (max-width:812px){
    header .home{
        right: 4px;
    }
}



